.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.labelName {
  margin-top: 15px;
  margin-bottom: 15px;
}
.labelNumber {
  margin-top: 15px;
  margin-bottom: 15px;
}
.btnForm {
  padding: 6px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: blue;
  color: aliceblue;
  cursor: pointer;
  font-weight: 500;
}
.btnForm:hover {
  background-color: rgb(201, 151, 57);
}
.btnForm:focus {
  background-color: rgb(201, 151, 57);
}
