.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.labelName {
  margin-top: 15px;
  margin-bottom: 15px;
}
.labelNumber {
  margin-top: 15px;
  margin-bottom: 15px;
}
.btnForm {
  min-width: 180px;
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
}
.btnForm:hover {
  background-color: rgb(201, 151, 57);
}
.btnForm:focus {
  background-color: rgb(201, 151, 57);
}
